$breakpoint: 768px;

.ͼ1 {
  .cm-scroller {
    height: 100% !important;
    font-size: large;
    background: #1c2130;
    font-weight: 300;
  }
}

.ͼ2 {
  .cm-gutters {
    background-color: transparent;
    color: #6c6c6c;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.codeMirror_editor {
  background: #1c2130;
}

@media (max-width: $breakpoint) {
  // Your styles for the specified breakpoint
  .ͼ1 {
    .cm-scroller {
      height: 100% !important;
      font-size: medium;
      background: #1c2130;
    }
  }
}
