$breakpoint: 768px;

.sidebar {
  background-color: #383b40;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 90vh;
  justify-content: center;
  // overflow: scroll;

  // display: flex;
  .sidebar_language_names {
    width: fit-content;
    margin: 1rem auto 1rem auto;

    cursor: pointer;
    li {
      margin-top: 0.3rem;
      opacity: 60%;
      padding: 0.5rem 0.2rem 0.5rem 1rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .language_logo {
        margin-right: 10px;
        font-size: 20px;
        transform: translateY(-3px);
      }
      .language_name {
        width: 100%;
        height: 2rem;
      }
      &.selected_language {
        background-color: #4c23ea;
        opacity: 100%;
        padding: 0.5rem 1rem;
      }
      &:hover {
        background-color: #9424fc;
        opacity: 100%;
      }
    }
  }
}

// Write the SCSS code within a media query
@media (max-width: $breakpoint) {
  // Your styles for the specified breakpoint
  .sidebar {
    display: flex;
    justify-content: center;
    .sidebar_language_names {
      li {
        &.selected_language {
          background-color: #4c23ea;
          opacity: 100%;
          padding: 0.5rem 0.5rem;
        }
        .language_logo {
          transform: translateY(0px);
          .language_logo_go {
            font-size: 12px;
          }
        }
        .language_name {
          display: none;
        }
      }
    }
  }
}
