$breakpoint: 768px;

.nav {
  max-width: 100vw;
  height: 10vh;
  background-color: #1f2023;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  border-bottom: 1px solid gray;
  .nav_left {
    color: white;
    .nav_logo {
      width: 8rem;

      cursor: pointer;
      // height: inherit;
    }
    .mobile_nav_logo {
      width: 3rem;
      // height: 2rem;
    }
  }
  .nav_middle {
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;
    .nav_middle_logo {
      height: 25px;
      margin: 0 0.2rem;
    }
    .nav_middle_name {
      color: #1185f9;
      font-size: 18px;
      margin: 0 1rem;
      // text-shadow: -2px 3px 7px #530096;
      text-shadow: 0px 0px 0 rgb(-33, 89, 211), -1px 1px 0 rgb(-78, 44, 166),
        -2px 2px 0 rgb(-122, 0, 122), -3px 3px 2px rgba(83, 0, 150, 1),
        -3px 3px 1px rgba(83, 0, 150, 0.5), 0px 0px 2px rgba(83, 0, 150, 0.2);
      &:hover {
        color: #00a6ff;
      }
    }
  }
  .nav_right {
    display: flex;
    width: 10vw;
    align-items: center;

    .nav_right_username {
      color: white;
      margin: 1rem;
      cursor: default;
      font-weight: 500;
      margin: 0;
    }
    .nav_right_profile {
      position: relative;
      .profile_img {
        width: 2rem;
        margin: 0 1rem;
        background: white;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background: rgb(232, 231, 231);
        }
      }
      .profile_menu {
        position: absolute;
        z-index: 10;
        top: 5vh;
        right: 2vw;
        background-color: white;
        border-radius: 10px 0 10px 10px;
        padding: 10px 30px 10px 10px;
        width: fit-content;
        ul {
          width: 8rem;
          li {
            margin: 7px 0;
            padding: 5px 10px;
            border-bottom: 1px solid rgb(183, 180, 180);
            border-radius: 10px;
            color: #4c23ea;
            cursor: pointer;
            &:hover {
              background: gray;
              color: white;
            }
          }
        }
      }
    }
    .nav_right_btn {
      background: #045cfb;
      padding: 0.2rem 0.4rem;
      margin: 0 0.2rem;
      border-radius: 5px;
      color: white;
      font-weight: 500;
      &:hover {
        background: blue;
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .nav {
    padding: 0 0.8rem 0 0.8rem;
    .nav_middle {
      .nav_middle_name {
        margin: 0 0.2rem;
      }
    }
    .nav_right {
      margin-right: 20px;
      .nav_right_username {
        display: none;
      }
      .profile_menu {
        ul {
          li {
            &.profile_username {
              border: none;
              cursor: default;
              color: black;
              &:hover {
                background: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
